body {
    width: 1100px;
    margin-left: calc( (100% - 1000px) / 2 );;
    display: inline-block;
    float: left;
}
header {
    display: inline-block;
    float: left;
    width: 100%;
}
    header>img {
        display: inline-block;
        float: left;
        width: 120px;
        padding: 10px;
        margin-top: 20px;
    }
    nav {
        display: inline-block;
        float: right;
    }
        header>nav>a {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            display: inline-block;
            float: left;
            text-decoration: none;
            color: #4C4C4C;
            font-size: 20px;
            padding: 25px;
            margin-top: 10px;

        }
div {
    display: inline-block;
    float: left;
    width: 35%;
    margin-top: 80px;
    margin-left: 25px;

}
    h1 {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        color:#4C4C4C;
        font-weight: bold;
        font-size: 145px;
        float: left;
        width: 100%;
        margin: 0;
        margin-bottom: -10px;

    }
    p {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        color: #858585;
        float: left;
        width: 100%;
        margin-top: 0;
        


    }
    body>div>a {
        display: inline-block;
        background-color:#00AAB7;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        margin-top: 60px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 20px;
        padding: 10px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 15px;
        color: white;
    }
body>img {
    display: inline-block;
    float: left;
    width:60%;
    margin-top: 120px;
    


}