body {
    background-color: yellow;
    width: 1100px;
    margin-left: calc( (100% - 1000px) / 2 );;
    display: inline-block;
    float: left;
}
header {
    background-color: bisque;
    display: inline-block;
    float: left;
    width: 100%;
}
    header>img {
        background-color: blueviolet;
        display: inline-block;
        float: left;
        width: 130px;
        padding: 10px;
    }
    nav {
        background-color: cornflowerblue;
        display: inline-block;
        float: right;
    }
        header>nav>a {
            background-color: darkcyan;
            display: inline-block;
            float: left;
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;

        }
div {
    display: inline-block;
    background-color: darkgoldenrod;
    float: left;
    width: 35%;

}
    h1 {
        display: inline-block;
        background-color: darkgrey;
        float: left;
        width: 100%;
    }
    p {
        display: inline-block;
        background-color: darksalmon;
        float: left;
        width: 100%;


    }
    body>div>a {
        display: inline-block;
        background-color: darkseagreen;
        float: left;
        text-decoration: none;
    }
body>img {
    display: inline-block;
    background-color: fuchsia;
    float: left;
    width:60%;
    


}